<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\SimpleIISApp.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="DD_GIT_COMMIT_SHA" value="%DD_GIT_COMMIT_SHA%" />
          <environmentVariable name="DD_GIT_REPOSITORY_URL" value="%DD_GIT_REPOSITORY_URL%" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
