<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\simple-iis-app.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="DD_GIT_BRANCH" value="%DD_GIT_BRANCH%" />
          <environmentVariable name="DD_GIT_COMMIT_MESSAGE" value="%DD_GIT_COMMIT_MESSAGE%" />
          <environmentVariable name="DD_DEPLOYMENT_VERSION" value="%DD_DEPLOYMENT_VERSION%" />
          <environmentVariable name="DD_DEPLOYMENT_TIME" value="%DD_DEPLOYMENT_TIME%" />
          <!-- Datadog API Configuration (set DD_API_KEY at machine level) -->
          <!-- DD_SITE not set - uses Datadog default (datadoghq.com) -->
          <environmentVariable name="DD_LOGS_INJECTION" value="true" />
          <environmentVariable name="DD_LOGS_DIRECT_SUBMISSION_INTEGRATIONS" value="Serilog" />
          <!-- Datadog Monitoring Features -->
          <environmentVariable name="DD_CODE_ORIGIN_FOR_SPANS_ENABLED" value="true" />
          <environmentVariable name="DD_EXCEPTION_REPLAY_ENABLED" value="true" />
          <environmentVariable name="DD_IAST_ENABLED" value="true" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
