<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\simple-iis-app.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="DD_GIT_BRANCH" value="%DD_GIT_BRANCH%" />
          <environmentVariable name="DD_GIT_COMMIT_MESSAGE" value="%DD_GIT_COMMIT_MESSAGE%" />
          <environmentVariable name="DD_DEPLOYMENT_VERSION" value="%DD_DEPLOYMENT_VERSION%" />
          <environmentVariable name="DD_DEPLOYMENT_TIME" value="%DD_DEPLOYMENT_TIME%" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
